{% extends 'administrator/base.html' %}
{% block navLinks %}{% load static %}
{% block title %} <title>Welcome {{ user }} | Change Bitcoin Prices</title> {% endblock %}
<li>
    <a href="{% url 'administrator:adminDashboard' %}">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="nav-parent nav-active">
    <a>
        <i class="text-info fa fa-bar-chart-o" aria-hidden="true"></i>
        <span>CHANGE CRYPTO PRICES FOR</span>
    </a>
    <ul class="nav nav-children">
        <li class="nav-active">
            <a href="{% url 'administrator:bitcoinExchangeRates' %}">BITCOIN</a>
        </li>
        <li>
            <a href="{% url 'administrator:ripple_exchange_rates' %}">RIPPLE</a>
        </li>
        <li>
            <a href="{% url 'administrator:ethereum_exchange_rates' %}">ETHEREUM</a>
        </li>
        <li>
            <a href="{% url 'administrator:perfect_money_exchange_rates' %}">PERFECT MONEY</a>
        </li>
    </ul>
</li>
<li class="nav-parent">
    <a>
        <i class="text-primary fa fa-arrow-right" aria-hidden="true"></i>
        <span>BUY REQUESTS FOR</span>
    </a>
    <ul class="nav nav-children">
        <li>
            <a href="{% url 'administrator:bitcoin_buy_requests' %}">BITCOIN</a>
        </li>
        <li>
            <a href="{% url 'administrator:ripple_buy_requests' %}">RIPPLE</a>
        </li>
        <li>
            <a href="{% url 'administrator:ethereum_buy_requests' %}">ETHEREUM</a>
        </li>
        <li>
            <a href="{% url 'administrator:perfect_money_buy_requests' %}">PERFECT MONEY</a>
        </li>
    </ul>
</li>
<li class="nav-parent">
    <a>
        <i class="text-info fa fa-arrow-left" aria-hidden="true"></i>
        <span>SELL REQUESTS FOR</span>
    </a>
    <ul class="nav nav-children">
        <li>
            <a href="{% url 'administrator:bitCoin_sell_request' %}">BITCOIN</a>
        </li>
        <li>
            <a href="{% url 'administrator:ripple_sell_request' %}">RIPPLE</a>
        </li>
        <li>
            <a href="{% url 'administrator:ethereum_sell_request' %}">ETHEREUM</a>
        </li>
        <li>
            <a href="{% url 'administrator:pm_sell_request' %}">PERFECT MONEY</a>
        </li>
    </ul>
</li>
<li>
    <a href="{% url 'administrator:registered_users' %}">
        <i class="text-primary fa fa-users" aria-hidden="true"></i>
        <span>USERS</span>
    </a>
</li>
<li>
    <a href="{% url 'administrator:registered_user_profile' user.pk %}">
        <i class="text-warning fa fa-user" aria-hidden="true"></i>
        <span>MY PROFILE</span>
    </a>
</li>
{% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">CHANGE BITCOIN {{ buy_or_sell }} PRICE (NGN-ONLY)</div>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        {{ fields }}
                    {% endfor %}<br>
                    <button type="submit" class="btn btn-primary pull-right">Change Price</button>
                </form>
                <input type="hidden" id="btcDollarPrice" value="{{ btc.RAW.BTC.USD.PRICE }}">
                <input type="hidden" id="btcNGNPrice" value="{{ btc.RAW.BTC.NGN.PRICE }}">
            </div>
        </div>
    </div>
</div>

{% block convertionFile %} <script src="{% static 'administrator/js/conversion.js' %}"></script> {% endblock %}
{% endblock %}